## Categorical data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
df = pd.DataFrame({0:["a","b","c","a"]})
display(df.head())
print(df.dtypes)

   0
0  a
1  b
2  c
3  a

0    object
dtype: object

In [16]:
df.iloc[0]

0    a
Name: 0, dtype: object

In [17]:
df.loc[0]

0    a
Name: 0, dtype: object

In [18]:
df[0]

0    a
1    b
2    c
3    a
Name: 0, dtype: object

In [21]:
df["b"] = df[0].astype('category')

In [23]:
df

   0  b
0  a  a
1  b  b
2  c  c
3  a  a

In [24]:
df.dtypes

0      object
b    category
dtype: object