# Python Tutorial: Introduction to PROGRAMMING

**step1:**Open a terminal (Ctrl+Alt+t) <br/>
**step2:**cd CS1100 <br/>
**step3:**mkdir session2 <br/>
**step4:**cd Week2 <br/>

In [130]:
a=2
b=2.0
c= 'Iaman'
d= "iitian"
print(type(a),type(b), type(c), type(d))
print(a,b,c,d)

<class 'int'> <class 'float'> <class 'str'> <class 'str'>
2 2.0 Iaman iitian

<h3> assignment </h3>

In [131]:
print(a)
a= a + 2
print(a)
a= a+ 3
print(a)
a= a -2
print(a)

2
4
7
5

### Typecasting

In [132]:
a= 2.0
print(type(a))
print(a)

<class 'float'>
2.0

In [133]:
int(a)
print(type(a))
print(a)

<class 'float'>
2.0

<h4> Poperties of string</h4>

In [134]:
print(c)
print(d)
print(c+d)

Iaman
iitian
Iamaniitian

In [135]:
print(c) # Prints string c
print(c[0]) #Prints first element of c
print(c[1]) #Prints second element of c
print(c[2]) #Prints third element of c

# c[i] denotes i+1 th element of c

i=3
print(c[i])
i=4
print(c[i])
print(type(c[i]))

Iaman
I
a
m
a
n
<class 'str'>

In [136]:
f= "s a c h i n"
print(f)

s a c h i n

In [164]:
g= "1234"
h="1 2 3 4"
print(g)
print(h)
print(c[i])
print(type(c[i]))

1234
1 2 3 4
n
<class 'str'>

In [168]:
h.split()

['1', '2', '3', '4']

<h3> Taking Input</h3>

In [171]:
temp = input()

2

In [173]:
type(temp)

str

In [179]:
temp= int(temp)

In [180]:
type(temp)

int

In [183]:
temp1= int(input())
type(temp1)

2

int

In [ ]:
temp1=int(input())
temp2=int(input())

<h2> equality checking in programming</h2>

In [138]:
2==3

False

In [139]:
2==2

True

In [140]:
a==2

True

In [141]:
a==8

False

<hr/>
<h4>Conditional Statements</h4>

if a ==2:
    print(a)
if b==2.0:
    print("HHH")
if a!=2:
    print(b)

In [142]:
if a!=2:
    print(a)
if a==2:
    print(b)

2.0

In [143]:
if a!=2:
    print(a)
else:
    print(d)

iitian

In [144]:
if a==5:
    print(a)
elif a==4:
    print(c)
else:
    print(d)

iitian

In [145]:
if a==5:
    print(a)
elif a==5:
    print(c)
else:
    print(d)

iitian

In [146]:
if a==4:
    print(a)
elif a==5:
    print(c)
else:
    print(d)

iitian

In [147]:
if a==4:
    print(a)
elif a==6:
    print(c)
else:
    print(d)

iitian

## Que1: Write a programme to take input two numbers *a* and *b*  A ND check if they are equal or not.

## Que2: Given three numbers *a*, *b*, and *c* any two of them are equal. write a programme to find those two equal numbers.

In [148]:
print(a)

2.0

In [149]:
a==3

False

In [150]:
a==5

False

In [151]:
if True: 
    print(a)

2.0

In [152]:
if False:
    print(b)
else:
    print(d)

iitian

In [153]:
3>2

True

In [154]:
2>3

False

In [155]:
2<=3

True

In [156]:
2>=3

False

In [157]:
if 3>2:
    print(d)
if 2>3:
    print(c)
if 2>=3:
    print(b)
if 2<=3:
    print(a)

iitian
2.0

### Que3: Given two numbers a and b, find which one is greater.
<hr/>

<h2> Operators </h2>

   - **+**: Addition <br/>
   - **-**: Subtraction <br/>
   - **/**: division
   - <a>*</a>: multiplication

In [158]:
2+3
3+2

5

In [159]:
2-3

-1

In [160]:
3-2

1

In [161]:
4/2

2.0

In [162]:
4.0/2

2.0

In [163]:
5/2

2.5

### Que4: Take input two numbers a and b, And print following 
    - sum of a and b
    - a-b
    - product of and b
    - a/b
<h3> Que5:A lion starts chasing a rabbit.At starting point lion's